//! **************************************************************************
// Written by: Map P.68d on Mon Jun 03 18:08:52 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "clr" LOCATE = SITE "B8" LEVEL 1;
COMP "rst" LOCATE = SITE "D9" LEVEL 1;
COMP "SS_1" LOCATE = SITE "T12" LEVEL 1;
COMP "SS_2" LOCATE = SITE "H3" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "MISO_1" LOCATE = SITE "N10" LEVEL 1;
COMP "MISO_2" LOCATE = SITE "K6" LEVEL 1;
COMP "SCLK_1" LOCATE = SITE "P11" LEVEL 1;
COMP "SCLK_2" LOCATE = SITE "G3" LEVEL 1;
COMP "MOSI_1" LOCATE = SITE "V12" LEVEL 1;
COMP "MOSI_2" LOCATE = SITE "L7" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "red<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "red<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "red<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "green<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "green<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "green<2>" LOCATE = SITE "V6" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "joy1/counter_joy_0" BEL "joy1/counter_joy_1" BEL
        "joy1/counter_joy_2" BEL "joy1/counter_joy_3" BEL "joy1/counter_joy_4"
        BEL "joy1/counter_joy_5" BEL "joy1/counter_joy_6" BEL
        "joy1/counter_joy_7" BEL "joy1/counter_joy_8" BEL "joy1/counter_joy_9"
        BEL "joy1/counter_joy_10" BEL "joy1/counter_joy_11" BEL
        "joy1/counter_joy_12" BEL "joy1/counter_joy_13" BEL
        "joy1/counter_joy_14" BEL "joy1/counter_joy_15" BEL
        "joy1/counter_joy_16" BEL "joy1/counter_joy_17" BEL
        "joy1/counter_joy_18" BEL "joy1/counter_joy_19" BEL
        "joy1/counter_joy_20" BEL "joy1/counter_joy_21" BEL
        "joy1/counter_joy_22" BEL "joy1/counter_joy_23" BEL
        "joy1/counter_joy_24" BEL "joy1/counter_joy_25" BEL
        "joy1/counter_joy_26" BEL "joy1/counter_joy_27" BEL
        "joy1/counter_joy_28" BEL "joy1/counter_joy_29" BEL
        "joy1/counter_joy_30" BEL "joy1/counter_joy_31" BEL "U1/q_0" BEL
        "U1/q_1" BEL "U1/q_2" BEL "U1/q_3" BEL "U1/q_4" BEL "U1/q_5" BEL
        "U1/q_6" BEL "U1/q_7" BEL "U1/q_8" BEL "U1/q_9" BEL "U1/q_10" BEL
        "U1/q_11" BEL "U1/q_12" BEL "U1/q_13" BEL "U1/q_14" BEL "U1/q_15" BEL
        "U1/q_16" BEL "U1/q_17" BEL "R/counter_24" BEL "R/counter_23" BEL
        "R/counter_22" BEL "R/counter_21" BEL "U3/prev_clk_cursor" BEL
        "U3/ball1/dot_x_8" BEL "U3/ball1/dot_x_6" BEL "U3/ball1/dot_x_5" BEL
        "U3/ball1/dot_x_4" BEL "U3/ball1/dot_x_3" BEL "U3/ball1/dot_x_2" BEL
        "U3/ball1/dot_x_1" BEL "U3/ball1/dot_y_8" BEL "U3/ball1/dot_y_7" BEL
        "U3/ball1/dot_y_6" BEL "U3/ball1/dot_y_5" BEL "U3/ball1/dot_y_4" BEL
        "U3/ball1/dot_y_3" BEL "U3/ball1/dot_y_2" BEL "U3/ball1/dot_y_1" BEL
        "U3/ball2/dot_x_7" BEL "U3/ball2/dot_x_6" BEL "U3/ball2/dot_x_5" BEL
        "U3/ball2/dot_x_4" BEL "U3/ball2/dot_x_3" BEL "U3/ball2/dot_x_2" BEL
        "U3/ball2/dot_x_1" BEL "U3/ball2/dot_y_8" BEL "U3/ball2/dot_y_7" BEL
        "U3/ball2/dot_y_6" BEL "U3/ball2/dot_y_5" BEL "U3/ball2/dot_y_4" BEL
        "U3/ball2/dot_y_3" BEL "U3/ball2/dot_y_2" BEL "U3/ball2/dot_y_1" BEL
        "joy2/clk_joy" BEL "R/button_first_press" BEL "U3/clk_cursor" BEL
        "R/button_state_reg" BEL "R/counter_8" BEL "R/counter_7" BEL
        "R/counter_6" BEL "R/counter_5" BEL "R/counter_4" BEL "R/counter_3"
        BEL "R/counter_2" BEL "R/counter_1" BEL "R/counter_0" BEL
        "R/counter_9" BEL "R/counter_10" BEL "R/counter_11" BEL "R/counter_12"
        BEL "R/counter_13" BEL "R/counter_14" BEL "R/counter_15" BEL
        "R/counter_16" BEL "R/counter_17" BEL "R/counter_18" BEL
        "R/counter_19" BEL "R/counter_20" BEL "U3/counter_cursor_31" BEL
        "U3/counter_cursor_30" BEL "U3/counter_cursor_29" BEL
        "U3/counter_cursor_28" BEL "U3/counter_cursor_27" BEL
        "U3/counter_cursor_26" BEL "U3/counter_cursor_25" BEL
        "U3/counter_cursor_24" BEL "U3/counter_cursor_23" BEL
        "U3/counter_cursor_22" BEL "U3/counter_cursor_21" BEL
        "U3/counter_cursor_20" BEL "U3/counter_cursor_19" BEL
        "U3/counter_cursor_18" BEL "U3/counter_cursor_17" BEL
        "U3/counter_cursor_16" BEL "U3/counter_cursor_15" BEL
        "U3/counter_cursor_14" BEL "U3/counter_cursor_13" BEL
        "U3/counter_cursor_12" BEL "U3/counter_cursor_11" BEL
        "U3/counter_cursor_10" BEL "U3/counter_cursor_9" BEL
        "U3/counter_cursor_8" BEL "U3/counter_cursor_7" BEL
        "U3/counter_cursor_6" BEL "U3/counter_cursor_5" BEL
        "U3/counter_cursor_4" BEL "U3/counter_cursor_3" BEL
        "U3/counter_cursor_2" BEL "U3/counter_cursor_1" BEL
        "U3/counter_cursor_0" BEL "R/button_state_reg_1" BEL "clk_BUFGP/BUFG";
SCHEMATIC END;

